/* Tools panel styles */
.toolsPanel {
	background: #fff;
	border: 1px solid;
	margin: 4px auto;
	padding: 8px;
	width: 132px;
	z-index: 100;
}

.toolItem {
	height: 50px;
	margin: 0px;
	margin-bottom: 8px;
	padding: 0px;
	text-align: center;
	width: 50px;
}

.toolsPanel>hr {
	margin:0;
	margin-bottom: 8px;
}

.toolTextBlock {
	border: 1px solid;
}

.activeTool {
	border: 1px dashed;
}

/* Properties Panel */
#propPanel {
	background: #fff;
	border: 1px solid;
	bottom: 0;
	display: none;
	margin: 4px auto;
	padding: 4px;
	width: 100%;
	z-index: 100;
	height: 50%;
	overflow: auto;
	position: absolute;
}

#propPanel.active {
	display: block;
}

#propPanel>table {
	margin-bottom: 0px;
	width: 100%;
}

table tr th, table tr td {
	padding: 4px;
	float: left;
	width: 100%;
}

#propPanel>.prop {
	color: #888;
}

#propPanel>.prop, #propPanel>.value {
	padding: 2px;
}

#propPanel>.close_button {
	font-weight: bold;
	float: right;
	cursor: pointer;
	width: 100%;
	text-align: right;
}

#propPanel>.close_button:hover {
	font-weight: normal;
}

input[type="text"] {
	height: auto;
	margin: 0;
	width: 100%;
}

/* Page Styles */
.page_wraper {
	width: 100%;
}

#left_panel, #right_panel {
	background-color: #375D81;
	height: 100%;
	position: fixed;
	width: 14%;
}

#right_panel {
	right: 0;
}

.page_background {
	position: absolute;
	width: 72%;
	margin-left: 14%;
}

/* styles for draggable tools panels */
.over, #left_panel.over, #right_panel.over {
  background-color: #E1E6FA;
  border: 1px solid #ff0000;
}

.drag, #left_panel.drag, #right_panel.drag {
  opacity: 0.5;
  border: 1px solid #ff0000;
}
