/* Styles for all elements common on page and pageBuilder */
body {
  background-color: #777;
}

.fleft {
  float: left;
}

.initToolStyles {
  position: absolute;
  top: 25%;
  left: 25%;
  cursor: pointer;
}
