/* Styles for all elements common on page and pageBuilder */
body {
  margin: 0;
}

#page {
  /*border: 1px dotted #777;*/
}


.fleft {
  float: left;
}

.initToolStyles {
  position: absolute;
  top: 25%;
  left: 25%;
  cursor: pointer;
  max-width: 400px;
}

.block {
  width: 100%;
}

.toolColumns, .minHeight {
  min-height: 400px;
}

.nav-pills-item {
  cursor: pointer;
  color: #337ab7;
  list-style: none;
  margin: 4px 8px;
  padding: 8px;
  border-radius: 4px;
  float: left;
}

.nav-pills-item:hover {
  background-color: #eee;
}

.nav-pills-item.active {
  color: #fff;
  background-color: #337ab7;
}

.nav-pills-item.active:hover {
  background-color: #518DC1;
}

.toolImageText {
  position: relative;
}
