/* Styles for all elements common on page and pageBuilder */
body {
  margin: 0;
}

#page {
  /*border: 1px dotted #777;*/
}


.fleft {
  float: left;
}

.initToolStyles {
  position: absolute;
  top: 25%;
  left: 25%;
  cursor: pointer;
}

.block {
  width: 100%;
}
